
extends ../layouts/default.jade

include ../mixins/group.jade

block breadcrumbs
    ul
        li
            span.fa.fa-group
            |  Groups

block content
    br
    br
    for group in groups
        +group-block(group)
    div.col-md-2
        div.panel.panel-default
            div.panel-heading
                h5.panel-title New Group
            div.panel-body
                a.btn.btn-success(href="/createGroup/") 
                    span.fa.fa-plus
                    |    Create Group
    div.col-md-1
    