mixin group-block(group)
    div.col-md-2
        div.panel.panel-default
            div.panel-heading
                h5.panel-title #{group.name}
            div.panel-body
                p logo
    div.col-md-1